html,
body {
  scroll-behavior: smooth;
}

.dashed-border {
  --stroke-width: 4;
  --stroke-dasharray: 10;
  --radii: 20px;

  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='20' ry='20' stroke='%23333' stroke-width='4' stroke-dasharray='10' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  border-radius: var(--radii);
}

@media screen and (max-width: 768px) {
  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  main.max-w-prose {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
