@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  color-scheme: dark;
  --ease-expo: cubic-bezier(0.87, 0, 0.13, 1);
  --animation-time: 0.5s;
}

* {
  outline-color: crimson;
}

.font-doto {
  font-family: "Doto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "ROND" 45;
}

.font-geist {
  font-family: "Geist", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.add-perspective {
  perspective: 800px;
  --rotate-x: rotateX(-15deg);
  --rotate-y: rotateY(-15deg);
}

@keyframes scale-in {
  from {
    opacity: 0;
    transform: scale(1.2) translateY(-2rem) var(--rotate-x);
  }
  to {
    opacity: 1;
    transform: scale(1) translateY(0) rotateX(0);
  }
}

@keyframes scale-in-right {
  from {
    opacity: 0;
    transform: scale(1.2) translateX(-2rem) var(--rotate-y);
  }
  to {
    opacity: 1;
    transform: scale(1) translateX(0) rotateY(0);
  }
}

@keyframes blurIn {
  from {
    opacity: 0;
    filter: blur(10px);
  }
  to {
    opacity: 1;
    filter: blur(0);
  }
}

.scale-in {
  opacity: 0;
  transform: scale(1.2) translateY(-2rem) var(--rotate-x);
  animation: scale-in var(--animation-time) var(--ease-expo) forwards;
  & > * {
    --rotate-x: rotateX(0);
  }
}

.blur-in {
  animation: blurIn var(--animation-time) var(--ease-expo) forwards;
}

.blur-in-scale {
  animation: blurIn var(--animation-time) var(--ease-expo) forwards,
    scale-in var(--animation-time) var(--ease-expo) forwards;
}

.blur-in-scale-right {
  animation: blurIn var(--animation-time) var(--ease-expo) forwards,
    scale-in-right var(--animation-time) var(--ease-expo) forwards;
}

body {
  @apply bg-neutral-950;

  &::before {
    content: "";
    background-color: transparent;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 600 600'%3E%3Cfilter id='a'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23a)'/%3E%3C/svg%3E");
    background-repeat: repeat;
    -webkit-background-size: 182px;
    -moz-background-size: 182px;
    -o-background-size: 182px;
    background-size: 182px;
    opacity: 0.1;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }

  cursor: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMiIgaGVpZ2h0PSIzMiIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBmaWxsPSJub25lIiBzdHJva2U9IiNmZmYiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIyIiBkPSJNMTIgMTZ2NW0wLTE4djVtNCA0aDVNMyAxMmg1Ii8+PC9zdmc+)
      24 24,
    pointer;
}

a[href],
button {
  cursor: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMiIgaGVpZ2h0PSIzMiIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBmaWxsPSJub25lIiBzdHJva2U9IiNmZmYiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIyIiBkPSJNOCAzSDVhMiAyIDAgMCAwLTIgMnYzbTktNXY1bTkgMFY1YTIgMiAwIDAgMC0yLTJoLTNtMCA5aDVtLTUgOWgzYTIgMiAwIDAgMCAyLTJ2LTNtLTkgMHY1bS05LTV2M2EyIDIgMCAwIDAgMiAyaDNtLTUtOWg1bTQgMGguMDEiLz48L3N2Zz4=)
      24 24,
    pointer;

  &:active {
    cursor: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMiIgaGVpZ2h0PSIzMiIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBmaWxsPSJub25lIiBzdHJva2U9IiNmZmYiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIyIiBkPSJNNCA4VjZhMiAyIDAgMCAxIDItMmgyTTQgMTZ2MmEyIDIgMCAwIDAgMiAyaDJtOC0xNmgyYTIgMiAwIDAgMSAyIDJ2Mm0tNCAxMmgyYTIgMiAwIDAgMCAyLTJ2LTJNOSAxMmg2bS0zLTN2NiIvPjwvc3ZnPg==)
        24 24,
      pointer;
  }
}

.counter {
  counter-reset: heading;

  & h2 {
    font-family: monospace;
    text-transform: uppercase;
    counter-increment: heading;
    counter-reset: subheading;
    &::before {
      content: counter(heading, decimal-leading-zero) ". ";
      font-size: 1em;
      font-family: "Doto", sans-serif;
      font-optical-sizing: auto;
      font-style: normal;
      font-variation-settings: "ROND" 45;
    }
  }

  & h3 {
    font-family: monospace;
    text-transform: uppercase;
    counter-increment: subheading;
    &::before {
      content: "." counter(subheading) " ";
      font-size: 0.8em;
      font-family: "Doto", sans-serif;
      font-optical-sizing: auto;
      font-style: normal;
      font-variation-settings: "ROND" 45;
    }
  }
}
